html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 100px !important;
    margin-bottom: 60px !important;
    background-color: #FFF2D8 !important;
    color: #312421 !important;
}

/*#redion of buttons and link buttons*/
button, a.btn-primary.my-btn {
    background-color: #D3BD9D !important;
    color: #312421 !important;
    border: 1px solid #BCA37F !important;
}
button:hover, a.btn-primary.my-btn:hover {
    border: 1px solid #493531 !important;
    background-color: #BCA37F !important;
    color: #000000 !important;
}
/*#endregion*/

/*#region of card*/
div.card {
    background-color: #EAD7BB !important;
    color: #081B21 !important;
    border: 3px solid #BCA37F !important;
}
div.card:hover {
    border: 3px solid #493531 !important;
}
/*#endregion*/

/*#region of input and select*/
div.input-group-text {
    background-color: #FFF2D8 !important;
    color: #312421 !important;
    border: none;
}
input, select {
    background-color: #EAD7BB !important;
    color: #081B21 !important;
    border: 3px solid #BCA37F !important;
}
input:active, input::after, select:active, select::after, input:focus, select:focus {
    border: 3px solid #493531 !important;
    box-shadow: 2px 2px 10px 2px #32424b !important;
}
/*#endregion*/

/*#region of some text decorations*/
a.card-link {
    color: #312421 !important;
}
a.card-link:hover {
    color: #144352 !important;
}
/*#endregion*/