/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav.sticky-top {
    background-color: #EAD7BB !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    white-space: nowrap !important;
    line-height: 60px !important;
    margin-bottom: 60px !important;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
