@using BookShop.WebApplication.Models.ViewsModels
@model ViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ErrorViewModel.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.ErrorViewModel.RequestId</code>
    </p>
}
