@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = @Model.DisplayConfirmAccountLink ? "Register confirmation" : "Register declined";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
    else
    {
    <p>
        Please check your entered registration data, ensure that entered email is valid. <br />
        Account was not registrated. Please check the entered email: <b>@Model.Email</b> is correct?
    </p>
    }
}

